env                     = "dev"
region                  = "eu-central-1"
instance_type           = "t2.micro"
jenkins_login           = "admin"
jenkins_pass            = "123456"
jenkins_key_name        = "your-existed-ssh-key-name-on-aws-for-ec2"
docker_hub_login        = "xxxxxxxx"
docker_hub_password     = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
docker_hub_repo         = "xxxxxxx/xxxxxxxxxxxx"
worker_user             = "ubuntu"
worker_appserv_key_name = "name-created-here-ssh-key-for-worker-and-appserv"
git_hub_token           = "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
git_hub_repo_app        = "https://github.com/612284/flask-app.git"
git_hub_repo_pipeline   = "https://github.com/612284/jenkins-casc-on-aws-by-terraform.git"
git_hub_repo_web_hook   = "https://api.github.com/repos/612284/flask-app/hooks"
